<h1>Wordle Hints</h1>

<form action="/wordle/suggestions" method="get">
  letter 1: <input type="text" name="letter_1" maxlength="1" value=<%= @letter_1 %>><br>
  letter 2: <input type="text" name="letter_2" maxlength="1" value=<%= @letter_2 %>><br>
  letter 3: <input type="text" name="letter_3" maxlength="1" value=<%= @letter_3 %>><br>
  letter 4: <input type="text" name="letter_4" maxlength="1" value=<%= @letter_4 %>><br>
  letter 5: <input type="text" name="letter_5" maxlength="1" value=<%= @letter_5 %>><br>
  <br>
  required letters: <input type="text" name="required_letters" value=<%= @required_letters %> ><br>
  excluded letters: <input type="text" name="excluded_letters" value=<%= @excluded_letters %> ><br>

  <input type="submit" value="submit">
</form>
<% if @suggestions.length > 0 %>
<br>
<br>
<hr>
<br>
<br>
<h1>Your Wordle suggestions are</h1>

<ol>
  <% @suggestions.each do |suggestion| %>
    <li><%= suggestion %></li>
  <% end %>
</ul>
<% end %>